# What is Python?


Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.

# What can Python do?

Python can be used on a server to create web applications.

Python can be used alongside software to create workflows.

Python can connect to database systems. It can also read and modify files.

Python can be used to handle big data and perform complex mathematics.

Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?

Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

Python has a simple syntax similar to the English language.

Python has syntax that allows developers to write programs with fewer lines than some other programming languages.

Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.

Python can be treated in a procedural way, an object-orientated way or a functional way.

# Python Syntax compared to other programming languages

Python was designed for readability, and has some similarities to the English language with influence from mathematics.

Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.

Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

# Python Getting Started

The way to run a python file is like this on the command line:

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
name = "His name is Achal"
cat = 'My cat is named "Sam"'
print(name)
print(cat)

His name is Achal
My cat is named "Sam"

In [ ]:
#This is a comment.

Python input() Function

In [ ]:
print('Enter your name:')
x = input()

Enter your name:
nidhi

# Practice cell

In [ ]:
##Use the prompt parameter to write a message before the input:

# Python Variables

Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

# Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

Try it youself

In [ ]:
#Practice cell

# Mutable and immutable variables in python

![1_X3GmUh7dqAMJLM5KwGBKYQ.png](attachment:1_X3GmUh7dqAMJLM5KwGBKYQ.png)

Simple put, a mutable object can be changed after it is created, and an immutable object canâ€™t.

# Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

    Text Type:	str

    Numeric Types:	int, float, complex

    Sequence Types:	list, tuple, range

    Mapping Type:	dict

    Set Types:	set
  
    Boolean Type:	bool

You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [ ]:
x = 20.5
print(type(x))

<class 'float'>

In [ ]:
x = 1j
print(type(x))

<class 'complex'>

In [ ]:
 x= {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
# Practice cells

# Python Strings

#String literals in python are surrounded by either single quotation marks, or double quotation marks

In [ ]:
num = 100     
#num is of type int

str = "Tiya"      
#str is of type string
print(num)
print(str)

100
Tiya

In [ ]:
#Multiline Strings
#You can assign a multiline string to a variable by using three quotes:
a=""""Your time is limited, so don't waste it living someone else's life.
Don't be trapped by dogma â€“
which is living with the results of other people's thinking." -Steve Jobs"""

print(a)

"Your time is limited, so don't waste it living someone else's life.
Don't be trapped by dogma â€“
which is living with the results of other people's thinking." -Steve Jobs

In [ ]:
#get the first character in the string
a = "Hello, World!"
print(a[0])

H

In [ ]:
#Slicing:You can return a range of characters by using the slice syntax.
b = "Hello, World!"
print(b[1:6])

ello,

In [ ]:
#Negative Indexing:Use negative indexes to start the slice from the end of the string.
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
# Remove white space from the beginning or end of the string
#The strip() method removes any whitespace from the beginning or the end.
a = " Hello, World! "
print(a)
print(a.rstrip())

 Hello, World!
 Hello, World!

In [ ]:
#String Length:To get the length of a string, use the len() function.
a = "Hello, World!"
print(len(a))

13

In [ ]:
# Covert in lower case:The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
#Convert in upper case:The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
#Replacement of character in string
a = "Hello, World!"
print(a.replace("World", "Harsh"))

Hello, Harsh!

In [ ]:
#Spilt the string in to substring
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

In [ ]:
#Check String:To check if a certain phrase or character is present in a string, we can use the keywords in or not in.

#Check if the phrase "ain" is present in the following text:

A = "The rain in Spain stays mainly in the plain"
x = "rain" in A
print(x)

True

In [ ]:
#Example:Check if the phrase "ain" is NOT present in the following text:

txt = "The rain in Spain stays mainly in the plain"
x = "xyz" not in txt
print(x)

True

In [ ]:
#String Concatenation:To concatenate, or combine, two strings you can use the + operator.
a="Hello"
b = " World"
c = a + b
print(c)

Hello World

In [ ]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#combine strings and numbers
age = 36
print("My name is John and I am ", age)
A="My name is John and I am "
B=36
print(A,B)

My name is John and I am  36
My name is John and I am  36

In [ ]:
fname = "NIDHI"
lname = "ASTHANA"
fullname = fname + " " + lname
print("Your name is:", fullname)

Your name is: NIDHI ASTHANA

In [ ]:
#Example:You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-30-18df9a987ddd>, line 3)

In [ ]:
#To fix this problem, use the escape character \":
#Example:The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
#Other escape characters used in Python:

#\'	Single Quote	
#\\	Backslash	
#\n	New Line	
#\t	Tab	
#\b	Backspace

In [ ]:
#Practice cells

# Python Numbers

In [ ]:
#tThere are three numeric types in Python: Integers, Float and Complex
x = 1
y = 2.8
z = 1j
u = 35e3
v = 12E4
w = -87.7e100

print(type(x))
print(type(y))
print(type(z))
print(type(u))
print(type(v))
print(type(w))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#Convert from one type to another:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))


#Note: You cannot convert complex numbers into another number type.

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Practice cells

In [ ]:
#Random Number
#Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:
#Example:Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1,10))

7

In [ ]:
#Return random number between 0.0 and 1.0:
print(random.random())

0.06542933604725976

In [ ]:
#Return a random number between, and included, 20 and 60:
print(random.uniform(20, 60))

40.60355121209968

In [ ]:
print(random.uniform(10, 15))

10.742643150991542

In [ ]:
#Python uses '=' for assignment and '==' for testing equality. Also '!=' is used to test for non-equality. Try these examples:
x = 5
y = 5
z = 6
print("x is equal to y: ", x == y)
print("x is not equal to y: ", x != y)
print("x is equal to z: ", x == z)
print("x is not equal to z: ", x != z)

x is equal to y:  True
x is not equal to y:  False
x is equal to z:  False
x is not equal to z:  True

In [ ]:
#abs(num) that computes the absolute value of a number
abs(5)
abs(-5)

5

# Lab Exercises

In [ ]:
#Write a Python program to calculate the length of a string. 
a=("Sai Preeti")
len(a)

10

In [ ]:
#Given a string of odd length 7, return a string made of the middle three chars of a given String
a=("abcdegh")
a[2:5]

'cde'

In [ ]:
#Given a two integer numbers return their product
a=5
b=2
a*b

10

In [ ]:
#Write a program to check if the letter 'e' is present in the word 'Umbrella'.
a='Umbrella'
x='e' in a
print(x)

True

In [ ]:
#Write a program to check if the word 'orange' is present in the "This is orange juice".
a= "This is orange juice"
x= 'orange'in a
print(x)

True

In [ ]:
#Given two numbers num1 and num2. The task is to write a Python program to find the addition of these two numbers.
num1=3
num2=5
num1+num2

8

In [ ]:
#Write a Python program to convert degree to radian.
pi=22/7
degree = float(input("Input degrees: "))
radian = degree*(pi/180)
print(radian)

Input degrees: 30
0.5238095238095238

In [ ]:
# Write a Python program to convert radian to degree
pi=22/7
radian = float(input("Enter Radian"))
degree = radian * (180/pi)
print (degree)

Enter Radian3.142
179.95090909090908

In [ ]:
#Write a Python program to calculate surface volume and area of a sphere. 
pi=22/7
radian = float(input('Radius of sphere: '))
sur_area = 4 * pi * radian **2
volume = (4/3) * (pi * radian ** 3)
print("Surface Area is: ", sur_area)
print("Volume is: ", volume)

Radius of sphere: 2
Surface Area is:  50.285714285714285
Volume is:  33.52380952380952

In [ ]:
#Write a Python program to calculate surface volume and area of a cylinder
pi=22/7
r=float(input("Enter Radius"))
h=float(input("Enter Height"))
V= float(pi* r**2 *h)
print(V)

Enter Radius7
Enter Height7
1078.0

In [ ]:
#Write a program to prompt the user for hours and rate per hour to compute gross pay.

In [ ]:
time= int(input(" enter hour "))
rate= int(input("Enter rate per hour"))
grosspay= int(time*rate)
print(grosspay)

 enter hour 7
Enter rate per hour2
14