# Python For Loops
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [1]:
fruits = ("apple", "banana", "cherry")
for x in fruits:
    print(x)

apple
banana
cherry

In [2]:
#Even strings are iterable objects, they contain a sequence of characters:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [3]:
for x in range(0, 5):
    print("hello world", x)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4

In [4]:
# The break Statement

#With the break statement we can stop the loop before it has looped through all the items:

#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [5]:
#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [6]:
#The continue Statement
#With the continue statement we can stop the current iteration of the loop, and continue with the next:

#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [3]:
#The range() Function
#To loop through a set of code a specified number of times, we can use the range() function,
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

for x in range(6):
    print(x)

#Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

0
1
2
3
4
5

In [4]:
#It is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

#Using the start parameter:

for x in range(2, 6):
    print(x)

#The range() function defaults to increment the sequence by 1

2
3
4
5

In [5]:
#To specify the increment value by adding a third parameter: range(2, 30, 3):

#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [6]:
#Else in For Loop
#The else keyword in a for loop specifies a block of code to be executed when the loop is finished:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [7]:
for val in range(5):
    print(val)
else:
    print("The loop has completed execution")

0
1
2
3
4
The loop has completed execution

In [8]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [10]:
# program to display student's marks from record
student_name = 'Ria'

marks = {'James': 90, 'Ria': 55, 'Ankur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

In [11]:
#Nested Loops
#A nested loop is a loop inside a loop.

#The "inner loop" will be executed one time for each iteration of the "outer loop":

#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [12]:
for num1 in range(3):
    for num2 in range(10, 14):
        print(num1, ",", num2)

0 , 10
0 , 11
0 , 12
0 , 13
1 , 10
1 , 11
1 , 12
1 , 13
2 , 10
2 , 11
2 , 12
2 , 13

In [13]:
#The pass Statement
#for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

for x in [0, 1, 2]:
    pass

In [14]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [15]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [16]:
# Program to print squares of all numbers present in a list

# List of integer numbers
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)

1
4
16
36
121
400

In [17]:
# Program to print the sum of first 5 natural numbers

# variable to store the sum
sum = 0

# iterating over natural numbers using range()
for val in range(1, 6):
    # calculating sum
    sum = sum + val

# displaying sum of first 5 natural numbers
print(sum)

15

In [18]:
#counts the number of even numbers from a series of numbers.
# list of numbers 
list1 = [10, 21, 4, 45, 66, 93, 1] 
  
even_count= 0
  
# iterating each number in list 
for num in list1: 
      
    # checking condition 
    if num % 2 == 0: 
        even_count += 1
              
print("Even numbers in the list: ", even_count)

Even numbers in the list:  3

In [19]:
#Loop over Lists of lists

list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list in list_of_lists:
    for x in list:
        print(x)

1
2
3
4
5
6
7
8
9

In [20]:
print ("***Generates a list of 3 values starting from 0")
for i in range(3):
    print ("Welcome",i,"times.")

***Generates a list of 3 values starting from 0
Welcome 0 times.
Welcome 1 times.
Welcome 2 times.

%s and %d are used for string formatting where %s and %d holds place for a string and a number respectively, and their associated values are passed using a tuple with % operator.

In [21]:
name = 'Tiya'
age = 12
print ('%s %d' % (name, age))

Tiya 12

In [22]:
#The following example illustrates the combination of an else statement with a for statement that searches for prime numbers from 10 through 20.
for num in range(10,20):     #to iterate between 10 to 20
    for i in range(2,num):    #to iterate on the factors of the number
        if num%i == 0:         #to determine the first factor
            j=num/i             #to calculate the second factor
            print('%d equals %d * %d' % (num,i,j))
            break #to move to the next number, the #first FOR
    else:                  # else part of the loop
        print(num, 'is a prime number')

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [23]:
#Print the pattern
for x in range(1,6):
    for y in range(1, x + 1):
        print(y, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Lab Exercise

In [12]:
#Write a python program with for loop to iterate over a list using range()
a =[2,3,4,5,6,7,89,100]
for x in range(1,5):
 print([2,3,4,5,6,7,89,100],x)

[2, 3, 4, 5, 6, 7, 89, 100] 1
[2, 3, 4, 5, 6, 7, 89, 100] 2
[2, 3, 4, 5, 6, 7, 89, 100] 3
[2, 3, 4, 5, 6, 7, 89, 100] 4

In [13]:
#Write a Python Program to print Cubes of all numbers present in a list
numbers = [1, 2, 4, 6, 11, 20]
a = 0

for x in numbers:
    
    a = x * x*x
    
    print(a)

1
8
64
216
1331
8000

In [3]:
#Generates a list of 5 values starting from 1 ***")
for x in range(1,6) :
   print(x)

1
2
3
4
5

In [12]:
#Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
#Hint:Use continue
for x in range(0,7):
    if(x!=3 and x!=6):
     print(x)

0
1
2
4
5

In [22]:
 #Write a Python Program to print the Product of first 10 natural numbers
 numbers = [1, 2,3, 4,5, 6,7,8,9,10 ]


sq = 1


for val in numbers:
    sq = sq * val
   
print(sq)

3628800

In [28]:
#Write a Python program to display all the elements before number 71 in the list [11, 9, 77, 10, 90, 3, 19]
#Hint: break
a = [11,9,77,10,90,3,19]
for x in a :
    if(x<71):
       print(x)

11
9
10
3
19

In [5]:
#Accept number from user and calculate the sum of all number between 1 and given number
a = int(input("Enter a number"))
c=0
for x in range(1,a+1) :
        c= c+x
    

print(c)

Enter a number3
6

In [9]:
#Print multiplication table of given number(from user)
a = int(input("Enter a number"))

for x in range(1,11) :
        c= a*x
        print(c)

Enter a number5
5
10
15
20
25
30
35
40
45
50

In [10]:
# Given a list iterate it and display numbers which are divisible by 5
a=[10,15,5,56,2,32]
for x in a:
    if(x%5==0):
        print(x)

10
15
5

In [3]:
#Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
a=[10,155,5,56,2,32]
for x in a:
    if(x%5==0 ):
        print(x)
    if(x>150):
        break

10
155

#Print the following pattern using for loop

for x in (1,6):

In [4]:
#Display -10 to -1 using for loop
for x in range(-10,0):
     print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [9]:
# Python Program to Calculate Sum of Even Numbers from 1 to N(from user)
a=int(input("Enter a num"))
c=0
for x in range(1,a+1):
    if(x%2==0):
        c=c+x
        
        
print (c)

Enter a num4
6

In [15]:
#Write a python program to read three numbers (a,b,c) and check how many numbers between ‘a’ and ‘b’ are divisible by ‘c’
a=int(input("num-1 "))
b=int(input("num-2 " ))
c=int(input("num-3 "))
d=0
for x in range(a,b+1):
    if(x%c==0):
        d=d+1
        
print("numbers divisible are ",d)

num-1 1
num-2 10
num-3 2
numbers divisible are  5